name: air-quality-daily

on:
  workflow_dispatch:
  schedule:
    - cron: '00 17 * * *'

jobs:
  schedule_pipelines:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      contents: write

    env:
      CITIES: "harstad tromso bodo moirana"

    steps:
      - name: checkout repo content
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: execute python workflows from bash script
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
          CITIES: ${{ env.CITIES }}
        run: |
          set -e
          for CITY in $CITIES; do
            echo "====================================="
            echo "Running air quality inference for $CITY"
            echo "====================================="
            CITY=$CITY make aq-inference
          done

      - name: github pages publish
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Air Quality Dashboard published"
          commit_options: '--no-verify --signoff'

          file_pattern: 'docs/air-quality/assets/img/* docs/_includes/*'

          repository: .

          status_options: '--untracked-files=no'

          skip_dirty_check: true

          skip_fetch: true

          skip_checkout: true

          push_options: '--force'
